{% extends 'new_base.html' %}

{% block css %}
<style>
    .container {
      padding: 20px;
    }


</style>
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row mx-auto text-center">
        <div class="col-lg-6">
            <img alt="Company Logo" src="{% if maharaj.image %}{{maharaj.image.url}}{% endif %}" class="img-fluid">
        </div>

        <div class="col-lg-6">
            <h2 class=""><b>{{maharaj.title}}</b></h2>
            <p style="text-align: justify;">{{maharaj.description}}</p>
        </div>
    </div>
</div>

{% endblock content %}
