{% extends 'base.html' %}
{% block css %}
<style>
    .prakalp-item {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .prakalp-item:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .prakalp-item img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }

    .prakalp-details {
        padding: 16px;
    }

    .prakalp-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .read-more-link {
        display: inline-block;
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .read-more-link:hover {
        text-decoration: underline;
    }
</style>
<style>
    /* Add these styles to your existing CSS or in a separate file */

    .header-banner {
        background-image: url('{{header_banner_homepage}}'); /* Replace with the path to your banner image */
        background-size: cover;
        background-position: center;
        color: black;
        text-align: center;
        padding: 10px 0; /* Adjust the padding to control the banner height */
    }

    .banner-text {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .banner-subtext {
        font-size: 18px;
    }
</style>
{% endblock css %}

{% block header %}
<div class="header-banner">
    <div class="container">
        <div class="banner-text">Welcome to Our Website</div>
        <div class="banner-subtext">Discover amazing content and more...</div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        {% for prakalp in prakalp %}
        <div class="col-lg-3 mb-4">
            <div class="prakalp-item">
                <img src="{{prakalp.main_image.url}}" alt="{{prakalp.title}}" class="img-fluid">
                <div class="prakalp-details">
                    <p class="prakalp-title">{{prakalp.title}}</p>
                    <a href="/prakalp/prakalp_details/{{prakalp.id}}/" class="read-more-link">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
