{% extends 'base.html' %}
{% block css %}
<style>
    .prakalp-item {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .prakalp-item:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .prakalp-item img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }

    .prakalp-details {
        padding: 16px;
    }

    .prakalp-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .read-more-link {
        display: inline-block;
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .read-more-link:hover {
        text-decoration: underline;
    }
</style>
{% endblock css %}

{% block header %}
<div class="header-banner text-center bg-warning">
    <div class="container p-3">
        <div class="banner-text">
            <img src="{{site_info.site_logo.url}}" alt="" height="50">
        </div>
        <div class="banner-text">{{site_info.site_name}}</div>
        <div class="banner-subtext"><em><b>{{site_info.site_description}}</b></em></div>
    </div>
</div>
{% endblock header %}

{% block header_middle_banner %}
<div class="text-center">
    <img src="{{header_middle_banner}}" alt="" class="img-fluid">
</div>
{% endblock header_middle_banner %}

{% block content %}
<div class="container mt-3 mb-3">
    <h5 class="text-center"><em><b>हमारे प्रकल्प</b></em></h5>
    <div class="row">
        {% for prakalp in prakalp %}
        <div class="col-lg-3 mb-4">
            <div class="prakalp-item">
                <img src="{{prakalp.main_image.url}}" alt="{{prakalp.title}}" class="img-fluid">
                <div class="prakalp-details">
                    <p class="prakalp-title">{{prakalp.title}}</p>
                    <a href="/prakalp/prakalp_details/{{prakalp.id}}/" class="read-more-link">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
