{% extends 'new_base.html' %}
{% block css %}
<style>
        .prakalp-item {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .prakalp-item:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .prakalp-item img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }

    .prakalp-details {
        padding: 16px;
    }

    .prakalp-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .read-more-link {
        display: inline-block;
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .read-more-link:hover {
        text-decoration: underline;
    }

    .blue-color {
          color:blue;
        }

        .green-color {
            color:green;
        }

        .fa.fa-instagram {
          color: transparent;
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          background-clip: text;
          -webkit-background-clip: text;
        }
        .banner_img{
            width:98.9vw;
        }

        .line-height {
          line-height: 1.8;
        }

        .bg_color{
            background-color:#7a2323;
        }
</style>
{% endblock css %}

{% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% if carousel %}
        {% for i in carousel %}
        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img src="{{i.image.url}}" class="d-block w-100">
        </div>
        {% endfor %}
        {% endif %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock carousel %}


{% block content %}
<div class="container mt-3 mb-3">
    <h5 class="text-center"><em><b>हमारे प्रकल्प</b></em></h5>
    <div class="row">
        {% for prakalp in prakalp %}
        <div class="col-lg-3 mb-4">
            <div class="prakalp-item">
                <img src="{{prakalp.main_image.url}}" alt="{{prakalp.title}}" class="img-fluid">
                <div class="prakalp-details">
                    <p class="prakalp-title">{{prakalp.title}}</p>
                    <a href="/prakalp/prakalp_details/{{prakalp.id}}/" class="read-more-link">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- ---------------------------------------------------------- -->
<p class="text-center">Follow us</p>
<div class="d-flex col-lg-2 mx-auto mt-2">
    <div class="m-1 mx-auto">
        <a class="facebook-button m-2" href="https://www.facebook.com/people/Swami-Krishnanand-Mahamandaleshwar/100071491568962/?mibextid=JRoKGi" target="_blank">
            <i class="blue-color fa fa-facebook-f facebook" style="font-size:24px"></i><br/><br/>
        </a>
    </div>

    <div class="m-1 mx-auto">
        <a class="facebook-button m-2" href="https://instagram.com/mahamandaleshwarswami?igshid=YTQwZjQ0NmI0OA=="
           target="_blank">
            <i class="fa fa-instagram" style="font-size:24px"></i><br/><br/>
        </a>
    </div>

    <div class="m-1 mx-auto">
        <a class="facebook-button m-2" href="https://youtube.com/@mahamandaleshwarswamikrish44?si=GcGsThv4S3GzVeM4" target="_blank">
            <i class="fa fa-youtube-play" style="font-size:24px;color:red"></i></br><br/>
        </a>
    </div>

    <div class="m-1 mx-auto">
        <a class="facebook-button m-2" href="https://x.com/bhagwat_yog?t=x092yF7YulumHBRZO6EQvw&s=08"
           target="_blank">
            <i class="blue-color fa-brands fa-x-twitter" style="font-size:24px"></i><br/><br/>
        </a>
    </div>
</div>
{% endblock content %}

{% block donet %}
<div class="col-lg-8 text-center mx-auto" id="donate">
    <p class="mt-4">सहयोग राशी /Donate Now</p>
    <h3>SCAN AND PAY</h3>
    <div class="row mx-auto">
        <div class="col-lg-4 mt-4 mx-auto">
<!--            <pre style="font-size:20px">{{dan.details}}</pre>-->
            Name: RAJEEV KUMAR PANDEY
            <br>
            Current A/c No: 685310110001242
            <br>
            Bank Name: Bank of India
            <br>
            IFC Code : BKID0006853
            <br>
            Vrindavan Branch Chhatikara Road
        </div>

        <div class="col-lg-4 mx-auto">
            <img alt="" height="200" src="{{dan.scaner.url}}">
        </div>

    </div>
</div>
{% endblock %}
