{% extends 'new_base.html' %}
{% block css %}
<style>
        .prakalp-item {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .prakalp-item:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .prakalp-item img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }

    .prakalp-details {
        padding: 16px;
    }

    .prakalp-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .read-more-link {
        display: inline-block;
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .read-more-link:hover {
        text-decoration: underline;
    }





</style>
{% endblock css %}

{% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% if carousel %}
        {% for i in carousel %}
        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img src="{{i.image.url}}" class="d-block w-100">
        </div>
        {% endfor %}
        {% endif %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock carousel %}


{% block content %}
<div class="container mt-3 mb-3">
    <h5 class="text-center"><em><b>हमारे प्रकल्प</b></em></h5>
    <div class="row">
        {% for prakalp in prakalp %}
        <div class="col-lg-3 mb-4">
            <div class="prakalp-item">
                <img src="{{prakalp.main_image.url}}" alt="{{prakalp.title}}" class="img-fluid">
                <div class="prakalp-details">
                    <p class="prakalp-title">{{prakalp.title}}</p>
                    <a href="/prakalp/prakalp_details/{{prakalp.id}}/" class="read-more-link">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<footer class="bg-dark text-light text-center py-3">
    <h4 class="text-center">Scan and Donate Now</h4>
    <div class="container">
        <div class="col-lg-6 mx-auto">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <img src="{{dan.scaner.url}}" class="img-fluid mb-3">
                </div>
                <div class="col-lg-6 mx-auto pt-5">
                    <pre style="font-size:20px">{{dan.details}}</pre>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>


{% endblock content %}
